div {
	display: none;
	border: solid black .1em;
	margin-top: 1em;
	padding: 1em;
}

a {
	border: solid black .1em;
	text-decoration: none;
	color: black;
	padding: 1em;
}

nav {
	padding-top: 1em;
}

a:first-child:hover {
	background: red;
	color: white;
}

a:nth-child(2):hover {
	background: green;
	color: white;
}

a:last-child:hover {
	background: blue;
	color: white;
}