div {
  display: none;
  border: solid black 0.1em;
  margin-top: 1em;
  padding: 1em; }

a {
  border: solid black 0.1em;
  text-decoration: none;
  color: black;
  padding: 1em; }

nav {
  padding-top: 1em; }

#red-link:hover {
  background: red;
  color: white; }

#green-link:hover {
  background: green;
  color: white; }

#blue-link:hover {
  background: blue;
  color: white; }
